@media screen and (max-width:1024px){
/*header*/
    .navEnlace{
        font-weight: bold;
        font-size: 16px;
    }

    .navSearch{
        height: 30px;
        gap: 4px;
    }
    /*index*/

    .main{
        grid-template-columns: 1fr;
        grid-template-rows: 150px 340px 750px;
        grid-template-areas: "titulo"
        "texto"
        "imagen";
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: auto;
        padding-top: 3rem;
        
     &__titulo, &__parrafo{
      font-size: 22px;
     }

     &__img{
        width: 550px;
        height: auto;
       
     }
}
    .main2 {
    
    &__titulo, {
        width: auto;
        height: auto;   
    }

    &__grilla{
        display: grid;
        grid-template-columns: repeat(3,33.3%);
        grid-template-rows: auto;
        grid-template-areas: "m1 m2 m3"
        "m4 m4 m5"
        "m4 m4 m6"
        "m7 m8 m9";
        gap: 5px;
        margin: 2rem 2rem ;
        justify-content: center;
    }
}

    /*contacto*/

   
    .pagecontacto{
        font-size: 22px;
    }

    #nombre1, #mail2, #tipo, #comentarios{
        width: 70%
    }

   .form__name{
       font-size: 19px;
   }

   .mapa__gps{
       width: 85%;
   }
   
/*productos*/
.grid__productos{
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: repeat(8, auto);
    grid-template-areas:
        "t t t"
        "m1 m2 m3" 
        "m4 m5 ."
        "t2 t2 t2"
        "a1 a2 a3"
        "a4 a5 ."
        "t3 t3 t3"
        "tabla tabla tabla";
        margin: 1rem;
        gap: 0.5rem;
        flex-wrap: wrap;
}

.macetas{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    
   &__p2, &__p3{
     padding-top: 10px;
     padding-bottom: 0;
    }

   &__p2, &__p3, &__p4, &__p5{
    align-items: center;
    font-size: 16px;
   }

    &__checkb{
        display: flex;
        flex-direction: column;
        padding: 2px;
        justify-content: center;
    }
}

.almo{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-evenly;

   &__p1, &__p2, &__p3, &__p4, &__p5{
     align-items: center;
     font-size: 16px; 
   }
}

.macetash1, .almo__h2{
    font-size: 20px;
    margin: 1.5rem;
}

.tablainfo__h3{
    font-size: 28px;
    text-align: center;
    margin: 1rem;
}

/*faqs*/
.faqs__h1{
    padding-top: 2rem;
}

.preguntas{
    padding-left: 2rem;
    padding-right: 2rem;
}

.faqs__p1, .faqs__p2, .faqs__p3{
    font-size: 1rem;
    margin-top: 1rem;
}

}


@media screen and (max-width: 600px){ 

   /* index*/ 

.main{
    grid-template-columns: 1fr;
    grid-template-rows: 140px 400px 450px;
    grid-template-areas: "titulo"
    "texto"
    "imagen";
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    row-gap: 1rem;
 
   &__titulo{
    font-size: 16px; 
    line-height: 1rem;
   }

   &__hojita{
    font-size: 26px;
   }

   &__parrafo{
    font-size: 16px;
    line-height: 45px;
    align-items: flex-start;
    justify-content: flex-start;
   }

   &__img{
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0% ;
   }
}
.main2{
    width: 100%;
    height: 100%;
    
   &__titulo{
      @include tamaño(100%,100%)
   }

    &__grilla{
      display: grid;
      grid-template-columns: repeat(2,50%);
      grid-template-rows: auto;
      grid-template-areas: "m1 m2 "
      "m3 m4"
      "m5 m7"
      "m8 m9"
      "m6 m6";
      gap: 5px;
      margin: 2rem 2rem ;
      justify-content: center;
    }
}

.main3{
    font-size: 20px;
    height: fit-content;
    margin-bottom: 2rem;

    &__titulo{
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-size: 21px;
    }
    
    &__p{
    font-size: 17px;
    }

    &__boton{
    border-radius: 16px;
    margin-top: 1rem;
   }
}

#mail{
    padding: 1px;
}

.contacto{
    font-size: 16px;
}

/*contacto*/
.gridcontacto{
    grid-template-columns: 1fr;
    grid-template-rows: 150px 850px 600px;
    grid-template-areas: "texto"
    "form"
    "mapa";
    height: auto;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
    row-gap: 1rem;
}

.pagecontacto{
color: black;
}

.formulario{
    margin: 2rem;
   
    &__name{
        font-size: 20px;
        padding-top: 1rem;
    }
}

#nombre1, #mail2, #tipo, #comentarios{
    width: 80%;
    padding: 4px;
}

.mapa__gps{
    width: 80%;
}

.newsletter{
    width: 80%;
}


/*productos*/
.grid__productos{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(10, auto);
    grid-template-areas:
        "t t"
        "m1 m2" 
        "m3 m4"
        "m5 m5" 
        "t2 t2"
        "a1 a2"
        "a3 a4"
        "a5 a5" 
        "t3 t3"
        "tabla tabla ";
        margin: 1rem;
        gap: 0.5rem;
        flex-wrap: wrap;
}

.macetash1{
    margin-top: 2rem;
}

.macetas{
    padding: 1rem;

   &__1, &__2, &__3, &__4, &__5{
    width: 175px;
    height: 200px;
    align-self: center;
   }

   &__p2, &__p3, &__p4, &__p5{
    align-self: center;
    padding: 3px 0 0 0;
   }

      &__checkb{
    display: flex;
    flex-direction: column;
    padding: 2px;
   }
}

.almo__1, .almo__2, .almo__3, .almo__4, .almo__5{
    width: 175px;
    height: 200px;
    align-self: center;
}
.almo__p1, .almo__p2, .almo__p3, .almo__p4, .almo__p5{
    align-self: center;
}
}


/*Nosotras*/

.us{
    margin:0%;
    
    &__p{
        margin: 0%;
    }
}

/*faqs*/

.faqs__h1{
    font-size: 24px;
    color: rgb(92, 85, 46);
    text-align: center;
}

.faqs__p1, .faqs__p2, .faqs__p3{
    font-size: 1rem;
    padding-top: 10px;
}
